<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DareDevil.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>323A787A1D8B73B700E15FF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>323A788E1D8B73B800E15FF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>323A78991D8B73B800E15FF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
